$red: #ab2936;
$blue: #3b3a6d;
$white: #fff;

$abd-primary: #47a5eb;
$abd-danger: #b4404b;
$abd-success: #51a556; 
$abd-danger-var: #df4b58;
$abd-dull: #eeeeee;
$abd-basic: #fff;

$abd-info: #696e8a;

$font-lora: 'Lora', serif;
$font-pixelated: 'VT323', monospace;
$font-general: 'Open Sans', sans-serif;

$boxShadow: 1px 2px rgba(0, 0, 0, 0.3);


$sm-to-md-bp: 719px;
$sm-bp: 700px;

// Base variables
$font-size-base: 1rem;
$border-radius-base: 2px;

// Text variables
$header-1-font-size: $font-size-base * 2.4;
$header-2-font-size: $font-size-base * 2.25;
$header-3-font-size: $font-size-base * 2;
$header-4-font-size: $font-size-base * 1.75;
$header-5-font-size: $font-size-base * 1.35;
$header-6-font-size: $font-size-base * 1.05;

// Slider variables
$slider-margin: 12.5px;
$slider-head-font: $font-pixelated;

$slider-head-margin-y: 5px;
$slider-head-margin-x: $slider-head-margin-y * 2;

$slider-section-label-padding-y: 2.5px;
$slider-section-label-padding-x: $slider-section-label-padding-y * 2;

$slider-section-margin-y: 5px;

// Pairings variables
$pairing-main-font-size: $font-size-base * 1.5;
$pairing-label-font-size: $font-size-base * 0.75;
$pairing-min-width: 150px;

$pairing-padding: 10px;


// List variables
$list-longform-row-margin-y: 7.5px;
$list-padding: 7.5px;
$list-padding-y: 12.5px;